<button class="float-right close-button close_button" troked-button  [mat-dialog-close]="false">
        close
      </button>
      <div mat-dialog-title class="reassign-heading">
        {{data?.title}}
      </div>
      
      <div  *ngIf="data?.content" >
        <p mat-dialog-content> {{data?.content}}</p>
      </div>
      
      <div class="buttons_container">
        <mat-dialog-actions>
          <button class="buttons" (click)="goToHome()"  mat-stroked-button [mat-dialog-close]="false">{{data?.buttons[0]}}</button>
          <button class="buttons"  mat-stroked-button [mat-dialog-close]="data">
          {{data?.buttons[1]}}
        </button>
        </mat-dialog-actions>
      </div>