<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 memory-div">
      <div class="row">
        <div class="col-md-6 col-lg-6 memory-number">{{ number1 }}</div>
        <div class="col-md-6 col-lg-6 memory-number">{{ number2 }}</div>
        <div class="col-md-6 col-lg-6 memory-number">{{ number3 }}</div>
        <!-- <div class="col-md-6 col-lg-6 memory-number">{{ number4 }}</div> -->
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6  memory-number">{{ number5 }}</div>
        <div class="col-md-6 col-lg-6  memory-number">{{ number6 }}</div>
        <div class="col-md-6 col-lg-6  memory-number">{{ number7 }}</div>
        <!-- <div class="col-md-6 col-lg-6  memory-number">{{ number8 }}</div> -->
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6  memory-number">{{ number9 }}</div>
        <div class="col-md-6 col-lg-6  memory-number">{{ number10 }}</div>
        <div class="col-md-6 col-lg-6  memory-number">{{ number11 }}</div>
        <!-- <div class="col-md-6 col-lg-6  memory-number">{{ number12 }}</div> -->
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div *ngIf="!isFormVisible" class="maxCount">{{ maxTime }}</div>
  <div class="maxCount" *ngIf="isFormVisible">
    I think its time to Enter Number!!! Go aHead Master
  </div>

  <div class="container " *ngIf="isFormVisible">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input
              type="number"
              matInput
              class="inputNumber"
              placeholder="Please Enter Full Number To Verify"
            />
          </mat-form-field>
          <div class="check-buttons">
            <button
              mat-raised-button
              matTooltip="Click To Verify The Number"
              color="primary"
            >
              VERIFY
            </button>
            <button
              mat-raised-button
              matTooltip="Click To Clear The Number"
              color="primary"
            >
              CLEAR
            </button>
            <button
              mat-raised-button
              matTooltip="Click To Exit From App"
              style="float: right;"
              color="warn"
            >
              EXIT
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<router-outlet></router-outlet>
