

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 memory-div">
       <div class="row">
        <div class="col-md-6 col-lg-6 memory-number">5</div>
        <div class="col-md-6 col-lg-6 memory-number">5</div>
        <div class="col-md-6 col-lg-6 memory-number">5</div>
        <div class="col-md-6 col-lg-6 memory-number">5</div>
       </div>
       <div class="row">
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
       </div>
       <div class="row">
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
        <div class="col-md-6 col-lg-6  memory-number">5</div>
       </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>



<router-outlet></router-outlet>
