// .container-fluid{
//     background: url("../../assets/memory.png");
// }

.example-header-image {
    background-image: url('../../assets/save_memory.jpg');
    background-size: cover;
  }

  .home-card{
      margin-top: 65px;
  }